<%- include('../partials/header') %>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow">
                <div class="card-body p-5">
                    <img src="https://thfvnext.bing.com/th/id/OIP.WODKC1HMN0zR4CxXVPKIFQHaJ4?&rs=1&pid=ImgDetMain&o=7&rm=3" class="img-fluid" alt="wallpaper">
                    <div class="lead mb-3 d-flex align-items-center fw-semibold justify-content-between
                     text-secondary flex-wrap gap-2">
                     <div>Author: Ridwan Adebayo</div>
                     <div>Created: 09-08-2025</div>
                    </div>
                    <h1 class="text-secondary fw-bold">
                        Wallpaper
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet consectetur tempor. Nunc ut imperdiet lorem. Donec massa ipsum, dapibus eget semper a, finibus in ligula. Aenean sed augue quis eros hendrerit iaculis eu sed mi. Quisque euismod mauris nisl. In id fringilla lectus. Cras dapibus libero risus, ac iaculis enim porttitor eget. Curabitur tortor mi, interdum ut auctor sed, elementum eu tortor. In ut dui sed lacus dapibus dictum. Maecenas metus sapien, mattis sit amet ullamcorper sed, suscipit vitae nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices mauris libero, a ultricies massa lobortis in. Praesent id interdum justo, a maximus mauris. Mauris in rutrum nisl. Praesent ornare non sem quis dapibus. Cras euismod lectus vitae quam sodales pellentesque.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div> 
<%- include('../partials/footer') %>